<head>
    <title>Angular Calander</title>
    <link rel="stylesheet" href="masterStyles.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="app" ng-controller="mainCtrl">
    <div class="spacer" style="height:20px"></div>
    <div class="mainCard">
        <md-toobar class="md-toolbar-tools" style="background-color: #dd4814; color:#2c001e">{{currentMonth.name}} <span flex></span>
            <span ng-hide="compareHide('start')" ng-click="backMonth()" class="arrow"><</span>
            <span ng-hide="!compareHide('start')">x</span>
            <span ng-hide="compareHide('end')" class="arrow" ng-click="forwardMonth()">></span>
            <span ng-hide="!compareHide('end')">x</span>
        </md-toobar>

        <div style="height:80%; width:100%">
            <div class="day" ng-repeat="day in currentMonth.days track by $index">
                <div>
                    {{day.date}}
                </div>
            </div>
        </div>
        </md-card>

</body>